*{
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    color: #f0f0f0;
}
 
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2c2c2c;
    color: white;

}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

header nav ul li a:hover {
    color: rgb(69 149 235 );
    transform: scale(1.5);
    text-decoration: underline;
}

header .search-bar input {
    padding: 5px;
    border: none;
    border-radius: 3px;
}

.banner {
    text-align: center;
    padding: 100px 20px;
    background: url('banner.jpg') no-repeat center center/cover;
    color: white;
}

.banner h1 {
    font-size: 48px;
    transition: color 0.3s ease;
}

.banner h1:hover {
    color: rgb(69 149 235 );
}

.banner p {
    font-size: 24px;
    transition: color 0.3s ease;
}

.banner p:hover {
    color: rgb(69 149 235 );
    
    
}

.banner .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: white;
    color: #2c2c2c;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    
}

.banner .btn:hover {
    background-color: rgb(69 149 235 );
    color: #2c2c2c;
    transform: scale(1.1);
    text-decoration: underline;
    transform: scale(1.5); 
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 40%;
}

.container.left {
    left: 0;
   
}

.container.right {
    left: 50%;
}

.container::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid rgb(69 149 235 );
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left::after {
    left: -16px;
}

.right::after {
    left: -16px;
}

.section {
    padding: 20px 30px;
    background-color: #2c2c2c;
    color: white;
    position: relative;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.section:hover {
    background-color: #3c3c3c;
}


